{% load menu_tags boutique_tags %}

{% for child in children %}
  {% if child.get_menu_title == 'Produits' %}
    {% dm_get_categories_parents as categories %}
    <li class="nav-item child dm-menu-produits{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}{% if categories %} dropdown{% endif %}">
      <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="nav-link nav_item{% if child.selected %} active{% endif %}">{{ child.get_menu_title }}</a>
      <div class="dropdown-menu dropdown-reverse">
        <ul>
          {% for categorie in categories %}
            {% dm_get_category_by_category categorie.id as child_categories %}
            <li>
              <a href="/produits/{{categorie.id}}-{{categorie.name|slugify}}" class="dropdown-item">
                {{categorie.name}}
              </a>
              {% if child_categories %}
                <ul class="sub-menu">
                  {% for child_category in child_categories %}
                    <li>
                      <a href="/produits/{{child_category.id}}-{{child_category.name|slugify}}">
                        {{child_category.name}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% else %}
    <li class="nav-item child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}{% if child.children %} dropdown{% endif %}">
      <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="nav-link nav_item{% if child.selected %} active{% endif %}">{{ child.get_menu_title }}</a>
      {% if child.children %}
        {% show_menu from_level to_level extra_inactive extra_active 'boutique/navbar/menu-child.html' "" "" child %}
      {% endif %}
    </li>
  {% endif %}
{% endfor %}