{% extends "theme/default/pages/base.html" %}
{% load i18n cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta-description %}{% page_attribute "meta_description" %}{% endblock %}

{% block breadcrumb %}
    <section class="section-breadcrumb">
        <div class="breadcrumb_section bg_gray page-title-mini mb-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="page-title">
                            <h1>{% page_attribute "page_title" %}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock breadcrumb %}

{% block content %}
    <section class="section-portfolio py-5">
        <div class="container">
            <div class="row">
                {% for item in data %}
                    <div class="col-4">
                        <div class="portfolio_item">
                            <div class="portfolio_img">
                                <a href="{{ item.image }}" data-title="{{ item.title }}" data-description="{{ item.description }}" data-lightbox="gallery-portfolio" class="item-img">
                                    <img src="{{ item.image }}" alt="{{ item.title }}" />
                                </a>
                            </div>
                            <div class="portfolio_info text-center">
                                <h6 class="portfolio_title">
                                    <a href="{{ item.image }}" data-title="{{ item.title }}" data-description="{{ item.description }}" data-lightbox="gallery-portfolio">
                                        {{ item.title }}
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
