[run]
branch = False
source =
    dshop
    apps
omit =
    dshop/migrations/*
    apps/*/migrations/*
    dshop/tests/*
    apps/tests/*
    cms/tests/*
    docs/*
    env/*
    env*
    *admin.py*
    dshop/cms_plugins.py
    dshop/middleware.py
    dshop/transition.py
    dshop/signals.py
    apps/dmSquare/views.py
    apps/dmRabais/views.py
    apps/dmRabais/utils.py
    apps/dmBillingStripe/views.py
    apps/dmBillingStripe/stripe_tax.py
    apps/dmBillingSquare/views.py
    *payment.py*
    *modifiers.py*
    apps/*/tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise ValidationError
    raise NotImplementedError
    if __name__ == .__main__.:
