.form-row .object-tools {
    background-color: transparent;
}
.form-row .object-tools::before {
    display: none;
}

.form-row.field-shipping_address_text .readonly,
.form-row.field-billing_address_text .readonly {
    margin: 1rem 0 0 80px;
}

/* ===--- CSS Martin ---=== */
.dashboard #content {
    width: 800px;
}
#content-related {
    width: 400px;
    border-top: 30px solid black;
    margin-right: -420px;
}
#header {
    background-color: black;
}
#content-related h3 {
    font-size: 18px;
    font-weight: normal;
    color: #447e9b;
}
#branding h1 {
    color: white;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}
.module h2, .module caption, .inline-group h2 {
    background: black;
}
div.breadcrumbs {
    background-color: grey;
}
.button.default, input[type=submit].default, .submit-row input.default {
    background-color: black;
}
.parler-language-tabs span.current {
    background-color: black;
    border-color: black;
}
.parler-language-tabs {
    border-bottom: 2px solid black;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: black;
}
.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: grey;
}

/* ===--- Index: Analyze Block ---=== */
#dm-analyze .dm-adminshop-row {
    border-bottom: 1px solid #ddd;
    font-size: 0;
    line-height: 0;
    padding: 10px 1px 5px 10px;
}
#dm-analyze .dm-adminshop-col {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: calc(50% - 5px);
    padding-left: 0;
    padding-right: 0;
}
#dm-analyze .dm-adminshop-col + .dm-adminshop-col {
    border-left: 1px solid #ddd;
    width: calc(50% - 5px);
    padding-left: 9px;
}
#dm-analyze .dm-adminshop-icon {
    vertical-align: middle;
    display: inline-block;
    width: 32px;
}
#dm-analyze .dm-adminshop-icon span {
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
}
#dm-analyze .dm-adminshop-data {
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 32px);
}
#dm-analyze .dm-adminshop-data p {
    font-size: 1rem;
    font-weight: 800;
    line-height: 120%;
    display: block;
    margin: 0 0 2px!important;
    padding-left: 0px;
}
#dm-analyze .dm-adminshop-data p a {
    color: #666;
    transition: color 0.3s;
}
#dm-analyze .dm-adminshop-data small {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 120%;
    display: block;
    margin: 0;
}

/* ===--- Product ---=== */
form .form-row .field-variant_image .filer-dropzone {
    padding: 1px;
}
form .form-row .field-variant_image .filer-dropzone.filer-dropzone-mobile .dz-message {
    display: none;
    margin-top: 0;
}
form .form-row .field-variant_image .filer-dropzone.filer-dropzone-mobile .filerFile {
    top: 8px;
}
