{% extends "clients/d-shop/pages/base.html" %}
{% load static cms_tags i18n thumbnail sekizai_tags boutique_tags %}

{% block title %}Produits{% endblock %}

{% block breadcrumb %}
  <section class="section-breadcrumb">
    <div class="breadcrumb_section bg_gray page-title-mini mb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="page-title">
              {% if request.resolver_match.kwargs.category_id %}
              {% dm_get_category request.resolver_match.kwargs.category_id as current_category %}
                <h1>{{current_category.name}}</h1>
              {% else %}
                <h1>{% trans "Products" %}</h1>
              {% endif %}
            </div>
          </div>
          <div class="col-md-6 text-md-right">
            {% if request.resolver_match.kwargs.category_id %}
              <div class="breadcrumbs-item">
                <a href="{% page_url 'produits' %}">{% trans "Products" %}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock breadcrumb %}

{% block main-content %}
  <div class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="row align-items-center mb-4 pb-1">
            <div class="col-12">
              <div class="product_header">
                <div class="product_header_left">
                  <div class="products_view">
                    <a href="javascript:Void(0);" class="shorting_icon grid active"><i class="ti-view-grid"></i></a>
                    <a href="javascript:Void(0);" class="shorting_icon list"><i class="ti-layout-list-thumb"></i></a>
                  </div>
                </div>
                <div class="product_header_right">
                  <div class="products-filters">
                    <div class="filters-boxes">
                      <label class="filters-box dm-tous checked">
                        <input type="checkbox" name="tous" checked />
                        <div class="filters-text">Tous</div>
                      </label>
                      {% dm_get_filters_all as filters %}
                      {% for filter in filters %}
                        <label class="filters-box">
                          <input type="checkbox" name="{{filter.name|slugify}}" />
                          <div class="filters-text">{{filter.name}}</div>
                        </label>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row shop_container grid produits">
            {% if request.resolver_match.kwargs.category_id %}
              {% dm_get_products_by_category request.resolver_match.kwargs.category_id 0 9 as products %}
            {% else %}
              {% dm_get_all_products 0 9 as products %}
            {% endif %}
            {% for product in products.products %}
              <div class="produit col-md-4 col-6" data-filters="tous{% for filter in product.filters.all %} {{filter.name|slugify}}{% endfor %}">
                <div class="product">
                  <div class="product_img">
                    <a href="{{product.get_absolute_url}}">
                      {% if product.main_image %}
                        {% thumbnail product.main_image 540x600 crop upscale as thumb %}
                        <img src="{{thumb.url}}" alt="{{product.product_name}}">
                      {% elif product.images.first %}
                        {% thumbnail product.images.first 540x600 crop upscale as thumb %}
                        <img src="{{thumb.url}}" alt="{{product.product_name}}">
                      {% else %}
                        <img src="{% static 'boutique/shopwise/images/product_img1.jpg' %}" alt="{{product.product_name}}">
                      {% endif %}
                    </a>
                    <div class="product_action_box">
                      <ul class="list_none pr_action_btn">
                        <li>
                          <a href="{{product.get_absolute_url}}"><i class="ti-info-alt"></i></a>
                        </li>
                        {% if product.variants %}{% else%}
                          <li>
                            <a href="/" class="dm-add2cart btn" data-product="{{product.slug}}"><i class="icon-basket-loaded"></i></a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <div class="product_info">
                    <h6 class="product_title"><a href="{{product.get_absolute_url}}">{{product.product_name}}</a></h6>
                    <div class="product_price">
                      {% if product.variants %}
                        <span class="price">{{product.variants.first.unit_price}}</span>
                      {% else %}
                        {% product_discount_price product.id as real_price %}
                        <span class="price">{{real_price}}</span>
                        {% if real_price != product.unit_price %}
                          <del>{{product.unit_price}}</del>
                        {% endif %}
                      {% endif %}
                    </div>
                    <div class="pr_desc">
                      <p>{{product.caption}}</p>
                    </div>
                    <div class="list_product_action_box">
                      <ul class="list_none">
                        <button class="btn btn-fill-out btn-addtocart" type="button" onclick="location.href='{{product.get_absolute_url}}';">{% trans "Voir plus" %}</button>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
              <div class="col-12">
                <div class="product">
                  <div class="product_info">
                    <h6 class="product_title mb-0">{% trans 'Aucun produit' %}</h6>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            {% if products.next > 0 %}
              <div class="col-12 pt-5 text-center">
                {% if request.resolver_match.kwargs.category_id %}
                  <a href="#" class="btn btn-fill-out dm-btn-more" onclick="return loadMoreProduits('{{request.resolver_match.kwargs.category_id}}')" data-offset="10" data-limit="9">Voir plus de produits</a>
                {% else %}
                  <a href="#" class="btn btn-fill-out dm-btn-more" onclick="return loadMoreProduits()" data-offset="10" data-limit="9">Voir plus de produits</a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
          <div class="sidebar">
            <div class="widget">
              <h5 class="widget_title">Catégories</h5>
              <ul class="widget_categories">
                {% dm_get_categories_parents as categories %}
                {% for category in categories %}
                  <li>
                    <a href="/produits/{{category.id}}-{{category.name|slugify}}"><span class="categories_name">{{category.name}}</span></a>
                    {% dm_get_category_by_category category.id as children %}
                    {% if children %}
                      <ul style="margin-left:10px;">
                        {% for child in children %}
                          <li>
                            <a href="/produits/{{child.id}}-{{child.name|slugify}}">{{child.name}}</a>
                            {% dm_get_category_by_category child.id as subchildren %}
                            {% if subchildren %}
                              <ul style="margin-left:10px;">
                                {% for subchild in subchildren %}
                                  <li>
                                    <a href="/produits/{{subchild.id}}-{{subchild.name|slugify}}">{{subchild.name}}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main-content %}
