{% load i18n static thumbnail dshop_tags %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html class="dm-admin-dashboard" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}
                {% if PAGE_TITLE %}{{ PAGE_TITLE }}{% endif %}
            {% endblock title %}
        </title>
        <!-- Meta -->
        {% block meta_data %}
            <meta name="title" content="{% if PAGE_TITLE %}{{ PAGE_TITLE }}{% endif %}" />
            <meta data-dmapp="dm" data-dmappname="D-Shop" />
        {% endblock meta_data %}
        <!-- Favicon -->
        <!--Favicons-->
        {% if request.site.dmsite.first.logos.first.favico_180 %}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ request.site.dmsite.first.logos.first.favico_180.url }}" />
        {% else %}
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dshop/icons/apple-touch-icon.png' %}" />
        {% endif %}
        {% if request.site.dmsite.first.logos.first.favico_192 %}
            <link rel="icon" type="image/png" sizes="192x192" href="{{ request.site.dmsite.first.logos.first.favico_192.url }}" />
        {% else %}
            <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dshop/icons/android-chrome-192x192.png' %}" />
        {% endif %}
        {% if request.site.dmsite.first.logos.first.favico_512 %}
            <link rel="icon" type="image/png" sizes="512x512" href="{{ request.site.dmsite.first.logos.first.favico_512.url }}" />
        {% else %}
            <link rel="icon" type="image/png" sizes="512x512" href="{% static 'dshop/icons/android-chrome-512x512.png' %}" />
        {% endif %}
        {% if request.site.dmsite.first.logos.first.favico_ico %}
            <link rel="shortcut icon" href="{{ request.site.dmsite.first.logos.first.favico_ico.url }}" />
        {% else %}
            <link rel="shortcut icon" href="{% static 'dshop/icons/favicon.ico' %}" />
        {% endif %}
        <link rel="manifest" href="{% static 'dshop/icons/site.webmanifest' %}" />
        <!-- Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Roboto:100,300,400,500,700,900&display=swap" media="all" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900" media="all" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:100,300,400,500,700,900" media="all" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
        <link rel="stylesheet" href="{% static 'dshop/css/bootstrap.min.css' %}" />
        <!-- Style -->
        <link rel="stylesheet" href="{% static 'dshop/shopwise/css/all.min.css' %}" />
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}" />
        {% endblock styles %}
        {% block extrastyle %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'dshop/shopwise/css/style.css' %}" />
        <script type="text/javascript" src="{% static 'dshop/shopwise/js/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/popup_response.js' %}"></script>
        <script type="text/javascript" src="{% static 'dmAdminTheme/js/admin.js' %}"></script>
        {% block extrahead %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'dmAdminTheme/css/admin.css' %}" />
    </head>
    <body id="dm-admin" class="dm-show-sidebar {% if is_popup or deleted_objects %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now 'Z' %}">
        <!-- Container -->
        <div id="container">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock messages %}
            <!-- Content -->
            <div>
                <div class="container-fluid pl-0">
                    <div class="row">
                        {% if not is_popup and not deleted_objects %}
                            <div id="dm-admin-sidebar" class="col-12 col-md-2 dm-admin-sidebar">
                                <h1 id="site-name">
                                    <a href="{% url 'admin:index' %}">
                                        {% if request.site.dmsite.first.logos.first.logodark %}
                                            {% thumbnail request.site.dmsite.first.logos.first.logodark "300x80" upscale as thumb_dark %}
                                            <img class="dark-logo" src="{{thumb_dark.url}}" alt="logo" />
                                        {% else %}
                                            <img class="dark-logo" src="{% static 'dshop/img/logo-dshop.png' %}" alt="logo" />
                                        {% endif %}
                                    </a>
                                </h1>
                                {% if available_apps %}
                                    {% include "admin/sidebar-navigation.html" %}
                                {% endif %}
                                <div class="dm-admin-sidebar-footer">
                                    <small>&copy; 2021 D-Shop. Tous droits réservés.</small>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-12 {% if not is_popup and not deleted_objects %}col-md-10{% endif %} dm-admin-main">
                            {% if not is_popup and not deleted_objects %}
                                <div class="container-fluid dm-admin-header">
                                    <div class="row">
                                        {% if request.user.is_authenticated %}
                                            <div class="col-6">
                                                <div class="dm-admin-toggle-sidebar">
                                                    <i class="mdi mdi-menu"></i>
                                                </div>
                                                {% block welcome-msg %}
                                                    <div class="dm-admin-welcomename">{% trans 'Welcome,' %} <strong>{% firstof user.get_short_name user.get_username %}</strong>.</div>
                                                {% endblock %}
                                            </div>
                                        {% endif %}
                                        <div class="col-6">
                                            {% block usertools %}
                                                {% if has_permission %}
                                                    <div id="user-tools">
                                                        {% block userlinks %}
                                                            {% if site_url %}
                                                                <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                                                            {% endif %}
                                                            {% if user.has_usable_password %}
                                                                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                                                            {% endif %}
                                                            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                                                        {% endblock %}
                                                    </div>
                                                {% endif %}
                                            {% endblock %}
                                            {% block nav-global %}{% endblock %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="container-fluid">
                                <div class="row">
                                    {% if not is_popup and not deleted_objects %}
                                        <div class="col-12 py-0">
                                            {% block breadcrumbs %}
                                                <div class="dm-admin-breadcrumbs">
                                                    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                                                    {% if title %} &rsaquo; {{ title }}{% endif %}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endif %}
                                    {% block appcontent %}{% endblock %}
                                    {% block pretitle %}{% endblock %}
                                    {% block content %}
                                        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                                        {% block object-tools %}{% endblock %}
                                        {{ content }}
                                    {% endblock %}
                                    {% block sidebar %}{% endblock %}
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% block footer %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- END Container -->
    </body>
</html>
