{% load i18n dshop_tags dshopadmintheme_tags %}

{% dm_quotation_feature as is_quotation %}

<nav class="dm-admin-sidebar-navigation">
    <ul>
        <li class="parent">
            <span>{% trans "Django CMS" %}</span>
            <ul>
                <li class="child {% if cl.opts.object_name == 'Page' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/cms/page/"><i class="fa fa-file"></i></i> {% trans "Pages" %}</a>
                </li>
            </ul>
        </li>
        <li class="parent">
            <span>{% trans "Advertising" %}</span>
            <ul>
                <li class="child {% if cl.opts.object_name == 'dmAdvertisingTopBanner' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dmAdvertising/dmadvertisingtopbanner/"><i class="fas fa-ad"></i></i> {% trans "Advertising Top Banner" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'dmAdvertisingPopup' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dmAdvertising/dmadvertisingpopup/"><i class="fas fa-exclamation"></i></i> {% trans "Advertising Popup" %}</a>
                </li>
            </ul>
        </li>
        <li class="parent">
            <span>{% trans "Shop" %}</span>
            <ul>
                <li class="child {% if cl.opts.object_name == 'ProductCategory' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/productcategory/"><i class="fas fa-stream"></i></i> {% trans "Product's Categories" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'ProductFilter' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/productfilter/"><i class="fas fa-server"></i></i> {% trans "Product's Filters" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'ProductBrand' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/productbrand/"><i class="fas fa-th-large"></i></i> {% trans "Product's Brands" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'ProductLabel' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/productlabel/"><i class="fa fa-tag"></i></i> {% trans "Product's Labels" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'Attribute' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/attribute/"><i class="fas fa-th"></i></i> {% trans "Product's Attributes" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'Product' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/product/"><i class="fas fa-box-open"></i></i> {% trans "Products" %}</a>
                </li>
                {% if is_quotation %}
                    <li class="child {% if cl.opts.object_name == 'dmQuotation' %}active{% endif %}">
                        <a href="/{{ LANGUAGE_CODE }}/admin/dmQuotation/dmquotation/"><i class="fas fa-chart-line"></i></i> {% trans "Quotation" %}</a>
                    </li>
                {% else %}
                    <li class="child {% if cl.opts.object_name == 'Order' %}active{% endif %}">
                        <a href="/{{ LANGUAGE_CODE }}/admin/dshop/order/"><i class="fas fa-chart-line"></i></i> {% trans "Orders" %}</a>
                    </li>
                {% endif %}
                <li class="child {% if cl.opts.object_name == 'CustomerProxy' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/shop/customerproxy/"><i class="far fa-id-badge"></i></i> {% trans "Customers" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'ProductVariableVariant' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/productvariablevariant/"><i class="fas fa-spinner"></i></i> {% trans "Update Product's Variants" %}</a>
                </li>
            </ul>
        </li>
        <li class="parent">
            <span>{% trans "Discounts" %}</span>
            <ul>
                <li class="child {% if cl.opts.object_name == 'dmRabaisPerCategory' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dmRabais/dmrabaispercategory/"><i class="fas fa-percent"></i></i> {% trans "Discounts Per Category" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'dmPromoCode' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dmRabais/dmpromocode/"><i class="fas fa-barcode"></i></i> {% trans "Promo Codes" %}</a>
                </li>
            </ul>
        </li>
        {% dm_get_extended_apps as extendeds %}
        {% for extended in extendeds %}
            <li class="parent">
                <span>{{ extended.name }}</span>
                <ul>
                    {% for app in extended.apps %}
                        <li class="child {% if cl.opts.object_name == app.label %}active{% endif %}">
                            <a href="/{{ LANGUAGE_CODE }}/admin/{{ extended.label }}/{{ app.link }}/"><i class="fas fa-angle-double-right"></i></i> {{ app.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        <li class="parent">
            <span>{% trans "Settings" %}</span>
            <ul>
                <li class="child {% if cl.opts.object_name == 'dmSite' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dshop/dmsite/"><i class="fas fa-globe"></i></i> {% trans "Site" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'dmTheme' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dmTheme/dmtheme/"><i class="fas fa-brush"></i></i> {% trans "Themes" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'CanadaTaxManagement' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dmTaxes/canadataxmanagement/"><i class="fas fa-dollar-sign"></i></i> {% trans "Canadian Taxes" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'Country' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/cities_light/country/"><i class="fas fa-globe-americas"></i></i> {% trans "Countries" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'Region' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/cities_light/region/"><i class="fas fa-map-marker-alt"></i></i> {% trans "Provinces" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'SubRegion' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/cities_light/subregion/"><i class="fas fa-map-marker-alt"></i></i> {% trans "Region" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'City' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/cities_light/city/"><i class="fas fa-map-marker-alt"></i></i> {% trans "Cities" %}</a>
                </li>
                <li class="child {% if cl.opts.object_name == 'ShippingManagement' %}active{% endif %}">
                    <a href="/{{ LANGUAGE_CODE }}/admin/dmShipping/shippingmanagement/"><i class="fas fa-shipping-fast"></i></i> {% trans "Shipping Methods" %}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>