{% extends "dshop/pages/base.html" %}
{% load static thumbnail cms_tags i18n sekizai_tags dshop_tags %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static '/default/css/style.css' %}" />
{% endblock head %}

{% block navbar %}
  {% include "/app/apps/dmTheme/templates/default/navbar/navbar.html" %}
{% endblock navbar %}

{% block main-header %}{% endblock main-header %}

{% block main-content %}

  {% block content %}{% endblock content %}

{% endblock main-content %}

{% block foot %}
  <script src="{% static '/default/js/scripts.js' %}"></script>
{% endblock foot %}
