{% extends "theme/default/pages/default.html" %}
{% load i18n cms_tags sekizai_tags thumbnail dshop_tags dmrabais_tags %}

{% block title %}{{ product.product_name_trans }}{% endblock %}

{% block meta-description %}{{ product.caption|striptags|truncatechars:150 }}{% endblock %}

{% block breadcrumb %}
    {% if LANGUAGE_CODE == "fr" %}
        {% page_url 'produits' as url_produits %}
    {% else %}
        {% page_url 'products' as url_produits %}
    {% endif %}
    <section class="section-breadcrumb">
        <div class="breadcrumb_section bg_gray page-title-mini mb-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h1>{% render_model product "product_name_trans" %}</h1>
                        </div>
                    </div>
                    <div class="col-md-6 text-md-right">
                        {% if product.categories.count > 0 %}
                            <div class="breadcrumbs-item">
                                {% for category in product.categories.all %}
                                    <a href="{% if produits_url %}{{ url_produits }}{% else %}/produits/{% endif %}category/{{category.id}}-{{category.name|slugify}}">{{category.name_trans}}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if product.filters.count > 0 %}
                            <div class="breadcrumbs-item">
                                <small>
                                    {% for f in product.filters.all %}
                                        <a href="{% if produits_url %}{{ url_produits }}{% else %}/produits/{% endif %}?filter={{f.id}}">
                                            {% if f.group and f.group.name_trans %}{{ f.group.name_trans }} :{% elif f.group %}{{ f.group.name }} :{% endif %} {% if f.name_trans %}{{ f.name_trans }}{% else %}{{ f.name }}{% endif %}
                                        </a>
                                    {% endfor %}
                                </small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main-content %}
    <section class="section-productdefailt ptb180">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                        {% if product.main_image or product.images.first %}
                            <div class="product-image">
                                <div class="product_img_box">
                                    {% if product.main_image %}
                                        {% thumbnail product.main_image 540x600 background="#ffffff" upscale as img %}
                                        {% thumbnail product.main_image 810x900 background="#ffffff" upscale as zoom %}
                                        <img id="product_img" src='{{img.url}}' data-zoom-image="{{zoom.url}}" alt="product_img1" />
                                    {% elif product.images.first %}
                                        {% thumbnail product.images.first 540x600 background="#ffffff" upscale as img %}
                                        {% thumbnail product.images.first 810x900 background="#ffffff" upscale as zoom %}
                                        <img id="product_img" src='{{img.url}}' data-zoom-image="{{zoom.url}}" alt="product_img1" />
                                    {% endif %}
                                    <a href="#" class="product_img_zoom" title="Zoom">
                                        <span class="linearicons-zoom-in"></span>
                                    </a>
                                </div>
                                <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
                                    {% if product.main_image %}
                                        {% thumbnail product.main_image 540x600 background="#ffffff" upscale as p_img %}
                                        {% thumbnail product.main_image 810x900 background="#ffffff" upscale as p_zoom %}
                                        {% thumbnail product.main_image 150x160 background="#ffffff" upscale as p_small %}
                                        <div class="item">
                                            <a href="#" class="product_gallery_item active" data-image="{{p_img.url}}" data-zoom-image="{{p_zoom.url}}">
                                                <img src="{{p_small.url}}" alt="product_small_img1" />
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% for pimg in product.images.all %}
                                        {% thumbnail pimg 540x600 background="#ffffff" upscale as p_img %}
                                        {% thumbnail pimg 810x900 background="#ffffff" upscale as p_zoom %}
                                        {% thumbnail pimg 150x160 background="#ffffff" upscale as p_small %}
                                        <div class="item">
                                            <a href="#" class="product_gallery_item active" data-image="{{p_img.url}}" data-zoom-image="{{p_zoom.url}}">
                                                <img src="{{p_small.url}}" alt="product_small_img1" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pr_detail">
                            <div class="product_description">
                                <h4 class="product_title">
                                    {% render_model product "product_name_trans" %}
                                    {% if product.variants.first %}
                                        <span class="variant-tag">
                                            {% if product.variants.first.is_discounted %}
                                                <span class="product-detail-discounted">{% trans "Discounted" %}</span>
                                            {% endif %}
                                        </span>
                                    {% elif product.is_discounted %}
                                        <span class="product-detail-discounted">{% trans "Discounted" %}</span>
                                    {% endif %}
                                    {% if product.label %}
                                        <span class="product-detail-customlabel" style="background-color:{{ product.label.bg_colour }};border-color:{{ product.label.colour }};color:{{ product.label.colour }};">{{ product.label.name }}</span>
                                    {% endif %}
                                </h4>
                                <div class="product_price">
                                    {% if product.variants.first %}
                                        {% product_variant_discount_price product.variants.first.id as real_price %}
                                        <span class="price">{{real_price}}</span>
                                        {% if real_price != product.variants.first.unit_price %}
                                            <del>{{product.variants.first.unit_price}}</del>
                                        {% endif %}
                                    {% else %}
                                        {% product_discount_price product.id as real_price %}
                                        <span class="price">{{real_price}}</span>
                                        {% if real_price != product.unit_price %}
                                            <del>{{product.unit_price}}</del>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="dmproductdetail-caption pr_desc">
                                    {% if product.caption %}
                                        {{product.caption|safe}}
                                    {% elif product.description %}
                                        {{product.description|safe}}
                                    {% endif %}
                                </div>
                                {% if product.product_document.all.count > 0 %}
                                    <hr />
                                    <div class="product_documents">
                                        {% for document in product.product_document.all %}
                                            <a href="{{ document.document.url }}" target="_blank"{% if product.product_document.all.count > 1 %} class="doc-link-both"{% endif %}><i class="linearicons-download2"></i>&nbsp;&nbsp;{{ document.name }}</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <hr />
                            <div class="cart_extra">
                                {% if product.variants.first %}
                                    <div class="dm-variants-select" data-product="{{product.pk}}">
                                        {% dm_get_attributes_list product.variants.first as attr_list %}
                                        {% with product.get_attribute_values as attributes %}
                                            {% for key, value in product.get_product_attribute.items %}
                                                <select class="form-control" name="product_attribute_{{key}}">
                                                    <option disabled selected>{{key}}</option>
                                                    {% for v in value %}
                                                        {% if v in attributes.value %}
                                                            <option class="choix" value="{{key}}_____{{v}}" {% if v in attr_list %}selected{% endif %}>{{v}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                    <div class="cart-product-quantity" style="display:{% if product.variants.first and product.variants.first.quantity == 0 %}none{% else %}block{% endif %};">
                                        <div class="quantity">
                                            <input type="button" value="-" class="minus" onclick="quantityMinus()" />
                                            <input type="number" name="quantity" value="1" title="Qty" class="qty input-num" min="1" max="99" onchange="quantityExact()" />
                                            <input type="button" value="+" class="plus" onclick="quantityPlus()" />
                                        </div>
                                    </div>
                                    <div class="cart_btn" style="display:{% if product.variants.first and product.variants.first.quantity == 0 %}none{% else %}block{% endif %};">
                                        {% if is_quotation %}
                                            <a href="#" class="btn btn-fill-out btn-add2cart dm-add2quotation-variant{% if not product.variants.first %}disabled{% endif %}" data-product="{{product.product_code}}" data-quantity="1" data-variant="{{product.variants.first.product_code}}">
                                                <i class="icon-basket-loaded"></i>{% trans "Add to quotation" %}
                                            </a>
                                        {% else %}
                                            <a href="#" class="btn btn-fill-out btn-add2cart dm-add2cart-variant{% if not product.variants.first %}disabled{% endif %}" data-product="{{product.slug}}" data-quantity="1" data-variant="{{product.variants.first.product_code}}">
                                                <i class="icon-basket-loaded"></i>{% trans "Add to cart" %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="product-detail-unavailable" style="display:{% if product.variants.first and product.variants.first.quantity == 0 %}block{% else %}none{% endif %};">
                                        <p>{% trans 'Out of stock' %}</p>
                                    </div>
                                {% else %}
                                    {% if product.quantity > 0 %}
                                        <div class="cart-product-quantity">
                                            <div class="quantity">
                                                <input type="button" value="-" class="minus" onclick="quantityMinus()" />
                                                <input type="number" name="quantity" value="1" title="Qty" class="qty input-num" min="1" max="99" onchange="quantityExact()" />
                                                <input type="button" value="+" class="plus" onclick="quantityPlus()" />
                                            </div>
                                        </div>
                                        <div class="cart_btn">
                                            {% if is_quotation %}
                                                <a href="#" class="btn btn-fill-out btn-add2cart dm-add2quotation" data-product="{{product.product_code}}" data-quantity="1">
                                                    <i class="icon-basket-loaded"></i>{% trans "Add to cart" %}
                                                </a>
                                            {% else %}
                                                <a href="#" class="btn btn-fill-out btn-add2cart dm-add2cart" data-product="{{product.slug}}" data-quantity="1">
                                                    <i class="icon-basket-loaded"></i>{% trans "Add to cart" %}
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="product-detail-unavailable">
                                            <p>{% trans 'Out of stock' %}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="large_divider clearfix"></div>
                    </div>
                </div>
                {% if product.description %}
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-style3">
                            <ul class="nav nav-tabs" role="tablist">
                                {% if product.description %}
                                <li class="nav-item">
                                    <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">{% trans "Description" %}</a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content shop_info_tab">
                                {% if product.description %}
                                    <div class="dmproductdetail-description tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                                        {{ product.description|safe }}
                                    </div>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% dm_get_products_related product.categories product.id as related_products %}
                {% if related_products.products.count > 0 %}
                    <div class="row">
                        <div class="col-12">
                            <div class="small_divider"></div>
                            <div class="divider"></div>
                            <div class="medium_divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="heading_s1">
                            <h3>{% trans "Related Products" %}</h3>
                            </div>
                            <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                            {% for related in related_products.products %}
                                <div class="item">
                                <div class="product">
                                    <div class="product_img">
                                    <a href="{{related.get_absolute_url}}">
                                        {% if related.main_image %}
                                        {% thumbnail related.main_image 540x600 background="#ffffff" upscale as thumb %}
                                        <img src="{{thumb.url}}" alt="product_img1" />
                                        {% else %}
                                            <img src="https://via.placeholder.com/540x600/ececec/ececec" alt="{{related.product_name_trans}}" />
                                        {% endif %}
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                        <li><a href="{{related.get_absolute_url}}"><i class="ti-info-alt"></i></a></li>
                                        {% if not related.variants and related.quantity > 0 %}
                                            <li>
                                                {% if is_quotation %}
                                                    <a href="/" onclick="dm_add2quotation($(this)); return false" data-product="{{related.product_code}}"><i class="icon-basket-loaded"></i></a>
                                                {% else %}
                                                    <a href="/" onclick="dm_add2cart($(this)); return false" data-product="{{related.slug}}"><i class="icon-basket-loaded"></i></a>
                                                {% endif %}
                                            </li>
                                        {% elif related.variants and related.variants.count == 1 %}
                                            <li>
                                                {% if is_quotation %}
                                                    <a href="/" onclick="dm_add2quotation_variant($(this)); return false" data-product="{{product.product_code}}" data-variant="{{product.variants.first.product_code}}"><i class="icon-basket-loaded"></i></a>
                                                {% else %}
                                                    <a href="/" onclick="dm_add2cart_variant($(this)); return false" data-product="{{related.slug}}" data-variant="{{related.variants.first.product_code}}"><i class="icon-basket-loaded"></i></a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                        </ul>
                                    </div>
                                    </div>
                                    <div class="product_info">
                                    <h6 class="product_title"><a href="{{related.get_absolute_url}}">{{related.product_name_trans|truncatechars:45}}</a></h6>
                                    <div class="product_price">
                                        {% if related.variants %}
                                        {% product_variant_discount_price related.variants.first.id as real_price %}
                                        <span class="price">{{real_price}}</span>
                                        {% if real_price != related.variants.first.unit_price %}
                                            <del>{{related.variants.first.unit_price}}</del>
                                        {% endif %}
                                        {% else %}
                                        {% product_discount_price related.id as real_price %}
                                        <span class="price">{{real_price}}</span>
                                        {% if real_price != related.unit_price %}
                                            <del>{{related.unit_price}}</del>
                                        {% endif %}
                                        {% endif %}
                                        {% if related.quantity == 0 %}
                                        <span class="product_sale_outofstock">{% trans "Out of stock" %}</span>
                                        {% elif related.is_discounted %}
                                        <span class="product_sale_discounted">{% trans "Discounted" %}</span>
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                                </div>
                            {% empty %}
                                <div>(aucun)</div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock main-content %}
