{% load static i18n thumbnail cms_tags menu_tags dshop_tags %}

{% dm_get_site_contacts as contacts %}

<div id="rude-tophead4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col col-12 col-md-3 text-center text-md-left dmtophead-logos pb-4 pb-md-0">
                {% block logo %}
                    <a class="dmtophead-logourl" href="/">
                        {% dm_get_logos as logos %}
                        {% if logos %}
                            {% thumbnail logos.logodark "300x70" upscale as thumb_light %}
                            <img class="light-logo" src="{{thumb_light.url}}" alt="logo" />
                        {% endif %}
                    </a>
                {% endblock logo %}
            </div>
            <div class="col col-12 col-md-9 text-right dmtophead-menu">
                {% if contacts.phone %}
                    <div class="dmtophead-support">
                        <span>
                            {% trans "Need Support? Call Us:" %} <i class="fa fa-phone"></i> <a href="tel:{{contacts.phone|phone_canadian}}">{{contacts.phone}}</a>
                        </span>
                    </div>
                {% endif %}
                <div class="dmtophead-right">
                    <nav class="dmtop-main-menu">
                        <a class="dmtop-main-menu-logo" href="/">
                            {% dm_get_logos as logos %}
                            {% if logos %}
                                {% thumbnail logos.logolight "300x70" upscale as thumb_light %}
                                <img src="{{thumb_light.url}}" alt="logo" />
                            {% endif %}
                        </a>
                        <span class="dmtop-main-menu-close dmtop-main-menu-mtoggle">x</span>
                        {% show_menu 0 100 100 100 'theme/rude/navbar/menu-main-parent.html' %}
                    </nav>
                    <span class="dmtop-main-menu-mtoggle">
                        <span class="dmtop-main-menu-mtoggle-1"></span>
                        <span class="dmtop-main-menu-mtoggle-2"></span>
                        <span class="dmtop-main-menu-mtoggle-3"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
