{% extends "clients/d-shop/catalog/product-detail.html" %}
{% load static i18n cms_tags thumbnail boutique_tags %}

{% block breadcrumb %}
  <section class="section-breadcrumb">
    <div class="breadcrumb_section bg_gray page-title-mini mb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="page-title">
              <h1>{% render_model product "product_name" %}</h1>
            </div>
          </div>
          <div class="col-md-6 text-md-right">
            {% if product.categories.count > 0 %}
              <div class="breadcrumbs-item">
                {% for category in product.categories.all %}
                  <a href="{% page_url 'produits' %}{{category.id}}-{{category.name|slugify}}">{{category.name}}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block main-content %}
  <section class="section-productdefailt ptb180">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            {% if product.main_image or product.images.first %}
              <div class="product-image">
                <div class="product_img_box">
                  {% if product.main_image %}
                    {% thumbnail product.main_image 540x600 crop upscale as img %}
                    {% thumbnail product.main_image 810x900 crop upscale as zoom %}
                    <img id="product_img" src='{{img.url}}' data-zoom-image="{{zoom.url}}" alt="product_img1" />
                  {% elif product.images.first %}
                    {% thumbnail product.images.first 540x600 crop upscale as img %}
                    {% thumbnail product.images.first 810x900 crop upscale as zoom %}
                    <img id="product_img" src='{{img.url}}' data-zoom-image="{{zoom.url}}" alt="product_img1" />
                  {% endif %}
                  <a href="#" class="product_img_zoom" title="Zoom">
                    <span class="linearicons-zoom-in"></span>
                  </a>
                </div>
                <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
                  {% if product.main_image %}
                    {% thumbnail product.main_image 540x600 crop upscale as p_img %}
                    {% thumbnail product.main_image 810x900 crop upscale as p_zoom %}
                    {% thumbnail product.main_image 150x160 crop upscale as p_small %}
                    <div class="item">
                      <a href="#" class="product_gallery_item active" data-image="{{p_img.url}}" data-zoom-image="{{p_zoom.url}}">
                        <img src="{{p_small.url}}" alt="product_small_img1" />
                      </a>
                    </div>
                  {% endif %}
                  {% for pimg in product.images.all %}
                    {% thumbnail pimg 540x600 crop upscale as p_img %}
                    {% thumbnail pimg 810x900 crop upscale as p_zoom %}
                    {% thumbnail pimg 150x160 crop upscale as p_small %}
                    <div class="item">
                      <a href="#" class="product_gallery_item active" data-image="{{p_img.url}}" data-zoom-image="{{p_zoom.url}}">
                        <img src="{{p_small.url}}" alt="product_small_img1" />
                      </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="pr_detail">
              <div class="product_description">
                <h4 class="product_title">{% render_model product "product_name" %}</h4>
                <div class="product_price">
                  {% if product.variants %}
                    <span class="price">-</span>
                  {% else %}
                    {% product_discount_price product.id as real_price %}
                    <span class="price">{{real_price}}</span>
                    {% if real_price != product.unit_price %}
                      <del>{{product.unit_price}}</del>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="pr_desc">
                  {{product.caption|safe}}
                </div>
              </div>
              <hr />
              <div class="cart_extra">
                <div class="dm-variants-select">
                  <select class="form-control" name="product_code">
                    <option disabled selected>Choisir</option>
                    {% for v in product.variants.all %}
                      {% product_variant_discount_price v.id as real_price %}
                      <option class="choix" value="{{v.product_code}}" data-dprice="{{real_price}}" data-price="{{v.unit_price}}">{{v.product_code}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="cart-product-quantity">
                  <div class="quantity">
                    <input type="button" value="-" class="minus" onclick="quantityMinus()" />
                    <input type="number" name="quantity" value="1" title="Qty" class="qty input-num" min="1" max="99" />
                    <input type="button" value="+" class="plus" onclick="quantityPlus()" />
                  </div>
                </div>
                <div class="cart_btn">
                  <a href="#" class="btn btn-fill-out btn-add2cart dm-add2cart-variant disabled" data-product="{{product.slug}}" data-quantity="1" data-variant="{{product.variants.first.product_code}}">
                    <i class="icon-basket-loaded"></i>{% trans "Add to cart" %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="large_divider clearfix"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="tab-style3">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Description</a>
                </li>
              </ul>
              <div class="tab-content shop_info_tab">
                <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                  {{ product.description|safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="small_divider"></div>
            <div class="divider"></div>
            <div class="medium_divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="heading_s1">
              <h3>Produits Similaires</h3>
            </div>
            <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
              {% dm_get_products_related product.categories product.id as related_products %}
              {% for related in related_products.products %}
                <div class="item">
                  <div class="product">
                    <div class="product_img">
                      <a href="{{related.get_absolute_url}}">
                        {% if related.main_image %}
                          {% thumbnail related.main_image 540x600 crop upscale as thumb %}
                          <img src="{{thumb.url}}" alt="product_img1" />
                        {% endif %}
                      </a>
                      <div class="product_action_box">
                        <ul class="list_none pr_action_btn">
                          <li><a href="{{related.get_absolute_url}}"><i class="ti-info-alt"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="product_info">
                      <h6 class="product_title"><a href="{{related.get_absolute_url}}">{{related.product_name|truncatechars:45}}</a>
                      </h6>
                      <div class="product_price">
                        <span class="price">{{related.unit_price}}</span>
                        <del style="display:none;">-</del>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div>(aucun)</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main-content %}