{% load i18n boutique_tags %}

{% spaceless %}
  {% block topnav %}
    <div class="topnav">
      <div class="row">
        <div class="col-1 col-md-3 col-lg-3 text-left">
          <span>
            <a href="https://www.facebook.com/debroussailleusebeavertech/" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </span>
        </div>
        <div class="d-none d-md-block col-md-4 col-lg-6 text-center">
          {% get_alertpublicitaire as alerts %}
          {% for alert in alerts %}
            <span class="notif">
              {% if alert.link %}<a href="{{alert.link}}"{% if alert.open_blank %} target="_blank"{% endif %}>{% endif %}{{alert.text}}{% if alert.link %}</a>{% endif %}
            </span>
          {% endfor %}
        </div>
        <div class="col-11 col-md-5 col-lg-3 text-right">
          <span class="drawer-toggle" data-dm="user">
            <i class="fa fa-user"></i>
          </span>
          <span class="drawer-toggle dm-cart" data-dm="cart">
            <i class="fa fa-shopping-cart"></i>
            <span id="dm-cart-items">0</span>
          </span>
        </div>
      </div>
    </div>
  {% endblock topnav %}
{% endspaceless %}