{# include this template to list all items of the given order #}
{% load i18n post_office %}{% spaceless %}

{% if latest_delivery and latest_delivery.shipping_method and latest_delivery.shipping_id %}
    <table style="width: 100%; background-color: #fff; border-collapse: collapse; margin-bottom: 20px;">
        <tbody style="font-size: 130%; text-align: center;">
            <tr>
                <td style="padding:10px;">
                    <div style="margin-bottom:10px;">{% trans 'Shipping Method' %} : {{latest_delivery.shipping_method.label}}</div>
                    <div>{% trans 'Shipping ID' %} : {{latest_delivery.shipping_id}}</div>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}

<table style="width: 100%; background-color: #fff; border-collapse: collapse; margin-bottom: 20px;">
{% block email-order-head %}
    <caption style="font-weight: bold; font-size: 130%; padding: 20px 0 10px; text-align: center;">
        {% block email-order-caption %}
            {% blocktrans with quotation_number=quotation.number %}Résumé de la soumission {{ quotation_number }}{% endblocktrans %}
        {% endblock %}
	</caption>
	<thead>
		<tr>
			<th scope="col" style="text-align: center; padding: 10px; border-bottom: 2px solid #eee;">{% trans "Quantity" %}</th>
			<th scope="col" colspan="2" style="text-align: center; padding: 10px; border-bottom: 2px solid #eee;">{% trans "Product" %}</th>
			<th scope="col" style="text-align: center; padding: 10px; border-bottom: 2px solid #eee;">{% trans "Price" %}</th>
		</tr>
	</thead>
{% endblock email-order-head %}

{% block email-order-body %}
	<tbody>
	{% for item in quotation.items %}
		<tr>
			<td style="text-align: center; vertical-align: middle; padding: 20px 10px; border-bottom: 2px solid #eee;">
				{{ item.quantity }} &times;
			</td>
			<td style="text-align: center; vertical-align: middle; padding: 20px 10px; border-bottom: 2px solid #eee;">
				{{ item.code}};
			<td colspan="2" style="padding: 20px 10px; border-bottom: 2px solid #eee;">
				<div style="font-size: 120%; font-weight: bold;">{{ item.name }} {{ item.attributes }} </div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
{% endblock email-order-body %}

</table>
{% endspaceless %}
