{% extends "/app/apps/dmTheme/templates/theme/default/pages/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Message envoyé !' %}{% endblock %}

{% block main-content %}

  <div class="container py-5">
    <div class="row py-5">
      <div class="col-12 py-5 text-center">
        <h1 class="mb-5">{% trans 'Message envoyé !' %}</h1>
        <p>{% trans 'Votre message a été envoyé avec succès, <br />nous vous répondrons le plus tôt possible.' %}</p>
        <p>{% trans 'Merci !' %}</p>
      </div>
    </div>
  </div>

{% endblock main-content %}