
body{
  color:#202325;
}

a{
  color:#458d91;
  text-decoration:none;
  transition:color 0.3s;
}
a:hover{
  color:#000;
  text-decoration:none;
}

.section-textmedia ul,
.container > .row > .col ul:not([class]) {
    margin: 0.5rem 2rem
}

.bg_default{
  background-color:#458d91!important;
}

.widget_links li a:hover,
.contact_info_light li a:hover,
.footer_link li a:hover,
.social_icons li a:hover,
.footer-copyright a:hover{
	color: #458d91;
}

.topnav a:hover,
.topnav .drawer-toggle:hover{
  color:#458d91;
}

.navbar .navbar-nav > li:hover > a:not(.dm-menu-split),
.light_skin.transparent_header.nav-fixed .navbar .navbar-nav > li:hover > a:not(.dm-menu-split),
.transparent_header.nav-fixed .light_skin .navbar .navbar-nav > li:hover > a:not(.dm-menu-split) {
	color: #458d91;
}

.navbar .navbar-nav > li > a.dm-menu-split:hover,
.light_skin.transparent_header.nav-fixed .navbar .navbar-nav > li > a.dm-menu-split:hover,
.transparent_header.nav-fixed .light_skin .navbar .navbar-nav > li > a.dm-menu-split:hover {
	color: #458d91;
}

/* ===--- Drawer ---=== */
.drawer-toggle #dm-cart-items{
  background-color:#458d91;
}
.dm-drawer-user-tabs .btn{
  background-color:#fff;
  border:1px solid #CED4DA;
  color:#458d91;
}
.dm-drawer-user-tabs .btn.disabled{
  background-color:#458d91;
  color:#fff;
  opacity:1;
}
.dm-drawer-inner #drawer-items-list .col-8 a,
.dm-drawer-inner #drawer-soumission-list .col-8 a{
  color:#458d91;
}
.dm-drawer-inner #drawer-items-list .col-8 a:hover,
.dm-drawer-inner #drawer-soumission-list .col-8 a:hover{
  color:#202325;
}
.dm-drawer-total{
  background-color:#fff;
  border:1px solid #CED4DA;
  color:#458d91;
}

/* ===--- Produits ---=== */
.dm-variants-select{
  flex:none;
  display:block;
  width:100%;
  padding:0 0 1rem;
}
.dm-variants-select select{
  cursor:pointer;
  margin: 0 0 1rem;
}

/* ===--- Plugins ---=== */
.section-parcategorie {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    margin: 3rem 0;
}
.section-infolettre h3,
.section-infolettre h5 {
	color: #fff;
}
.section-infolettre > .section{
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  color: #fff;
}
.section-infolettre .heading_s1 p:last-child{
  margin-bottom:0;
}

.product-card .name a:hover,
.product-card .price{
  color:#458d91;
}
.product .product_title a {
	color:#202325;
}
.product .product_title a:hover {
	color:#458d91;
}

.widget_categories li a:hover,
.widget_archive li a:hover{
  color:#458d91;
}

.tab-style1 .nav-tabs li.nav-item a.active, .tab-style1 .nav-tabs li.nav-item a.active:hover,
.tab-style2 .nav-tabs li.nav-item a.active, .tab-style2 .nav-tabs li.nav-item a.active:hover {
	color: #495057;
}

/* ===--- Filtres ---=== */
.products-filters .filters-boxes .filters-box.checked .filters-text {
  background-color: #458d91;
  color: #fff;
}
.products-filters .filters-boxes .filters-box:hover .filters-text {
  background-color: #458d91;
  color: #fff;
}
.products-filters .filters-boxes .filters-box.checked:hover  .filters-text {
  background-color: #458d91;
  color: #000;
}
.products-filters .filters-boxes .filters-box .filters-text {
  background-color: #f7f8fb;
}

/* ===--- Vos commandes ---=== */
.text-primary{
  color:#458d91!important;
}
.badge-primary {
  background-color: #458d91;
  color: #fff;
  font-size:0.9rem;
  font-weight:500;
  white-space: normal;
  width: 100%;
  padding:0.5rem;
}
.badge-secondary {
  background-color: #202325;
  color: #fff;
  font-size:0.9rem;
  font-weight:500;
  white-space: normal;
  width: 100%;
  padding:0.5rem;
}
.service-content-box pre{
  border-left:2px solid #458d91;
  padding-left:1rem;
}

/**/
.pagination .page-item a {
    color:#458d91;
}
.page-item.active .page-link{
    background-color:#458d91;
    border-color:#458d91;
}

/**/
#app {
  color:#758987;
}
#app.v-application .primary{
  background-color:#458d91!important;
  border-color:#458d91!important;
}
#app.v-application .primary--text{
  color:#458d91!important;
  caret-color:#458d91!important;
}
#app.v-application a{
  color:#458d91!important;
}
#app.v-application a:hover{
  color:#495057;
}
#app.theme--light.v-application,
#app.theme--light .v-list{
  background:transparent;
  color:#458d91;
}
#app.theme--light .v-card,
#app.theme--light .v-stepper{
    background:transparent;
}
#app.theme--light .v-menu__content{
  background:#fff;
}
#app.theme--light .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
#app.theme--light .v-select .v-select__selection--comma,
#app.theme--light .v-input,
#app.theme--light .v-input input,
#app.theme--light .v-input textarea,
#app.theme--light .v-card,
#app .v-card__subtitle,
#app .v-card__text,
#app.theme--light.v-card > .v-card__text,
#app.theme--light.v-card .v-card__subtitle{
  color:#458d91!important;
}
#app .v-btn__content{
  font-weight:500;
}
#app .v-btn.primary:hover .v-btn__content{
  color:#fff;
}
#app .v-btn.success{
  background-color:#a74747!important;
  border-color:#a74747!important;
}
#app .v-btn.success:hover .v-btn__content{
  color:#fff;
}

/* ===--- Search ---=== */
.search-product + .search-product{
    border-top: 1px solid rgba(0,0,0,0.05);
    padding-top: 20px;
    margin-top: 20px;
}
.search-img {
    font-size:0;
    line-height: 0;
    text-align: center;
    align-self: center;
}
.search-img img {
    width: 100%;
    max-width: 54px;
    max-height: 54px;
}
.search-name {
    font-size:0;
    line-height:0;
    text-align:left;
    align-self: center;
}
.search-name > div {
    vertical-align: middle;
}
.search-name span {
    font-size:1rem;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display:inline-block;
    width:100%;
}
.search-name span + span {
    font-size:0.8rem;
    opacity:0.5;
}
.search-btn {
    text-align:right;
}